.margin-center {
	margin-top: 13em;
}

.margin-half-center {
	margin-top: 6em;
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 15em;
	height: 15em;
}

.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 14em;
	height: 14em;
	margin: 6px;
	border: 2em solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.profpict {
	border-radius: 100%;
	max-width: 200px;
}

.accordion {
	cursor: pointer;
}

.panel {
	display: none;
}

.round-border {
	border-radius: 1em;
}

.logo {
	max-width: 2em;
	margin-right: 1em;
	margin-top: -0.75em;
}

#change-theme {
	position: fixed;
	right: 1em;
	bottom: 1em;
	cursor: pointer;
}
