body {
    background-color: #ffeb99;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2327ae60' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.accordion {
    background-color: #27ae60;
    color: #212529;
    border-bottom: 1px solid #f1c40f;
}

.secondary {
    background-color: #27ae60;
    color: #212529;
}

.secondary:hover {
    color: #212529;
}

.primary {
    background-color: #f1c40f;
    color: #212529;
}

.primary:hover {
    color: #212529;
}

.panel {
    background-color: #f1c40f;
    color: #212529;
}

#change-theme {
    background-color: #f1c40f;
    color: #212529;
    border: 1px solid #212529;
}

.profile {
    background-color: #f1c40f;
    color: #212529;
}

.lds-ring div {
	border-color: #27ae60 transparent transparent transparent;
}
