body {
    background-color: #ff968c;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%232c3e50' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.accordion {
    background-color: #2c3e50;
    color: #ecf0f1;
    border-bottom: 1px solid #e74c3c;
}

.secondary {
    background-color: #2c3e50;
    color: #ecf0f1;
}

.secondary:hover {
    color: #ecf0f1;
}

.primary {
    background-color: #e74c3c;
    color: #ecf0f1;
}

.primary:hover {
    color: #ecf0f1;
}

.panel {
    background-color: #e74c3c;
    color: #ecf0f1;
}

#change-theme {
    background-color: #e74c3c;
    color: #ecf0f1;
    border: 1px solid #2c3e50;
}

.profile {
    background-color: #e74c3c;
    color: #ecf0f1;
}

.lds-ring div {
	border-color: #2c3e50 transparent transparent transparent;
}
