{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" id="theme" href="{% static 'theme1.css' %}">

<div class="container">
    <div id="loading">
        <div class="d-flex justify-content-center margin-center">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
    <div class="row py-5 d-none" id="main">
        <div class="col-12 col-lg-4 text-center">
            <a role="button" href="/subscribe/"
                class="btn btn-lg btn-block secondary mb-3">
                Subscribe
            </a>
            <div class="profile p-2">
                <h1>Hello!</h1>
                <img src="{% static 'img/profpict.png' %}" class="profpict">
                <div class="pt-3">
                    <h2>I am</h2>
                    <h2>Muhammad Fairuzi Teguh</h2>
                    <h4 class="pt-3">A Computer Science student who strives to be a great software engineer</h4>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-8">
            <div class="accordion p-2" id="acc-1">
                <span class="h2">Activity & Experience</span>
                <span class="h2 float-right arrow">⌄</span>
            </div>
            <div class="panel p-3">
                <h5>Teaching Assistant - University of Indonesia</h5>
                Helping students to understand basic programming using Python
                <hr/>
                <h5>Software Engineer Intern - Bizzy</h5>
                Building software using NodeJS on AWS Lambda with Vue on the front side
            </div>
            <div class="accordion p-2" id="acc-2">
                <span class="h2">Organization & Committee</span>
                <span class="h2 float-right arrow">⌄</span>
            </div>
            <div class="panel p-3">
                <h5>Scientific Committee - Competitive Programming Contest Compfest X</h5>
                Creating algorithm and data structure problems as well as strong test cases for practice and competition round.
            </div>
            <div class="accordion p-2" id="acc-3">
                <span class="h2">Achievements</span>
                <span class="h2 float-right arrow">⌄</span>
            </div>
            <div class="panel p-3">
                <h5>Top 16 Indonesian Computing Olympiad 2017</h5>
                Selection and training for OSN medalists to represent Indonesia at International Olympiad in Informatics
                <hr/>
                <h5>Bronze Medal at OSN Komputer 2017</h5>
                Nationwide annual IOI-style programming olympiad for high school students from all over Indonesia
            </div>

            <span class="p-2" id="change-theme">
                Change Theme
            </span>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'script.js' %}"></script>
{% endblock %}
