{% extends "base.html" %}

{% block title %}
Subscribe
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" id="theme" href="{% static 'theme1.css' %}">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="secondary p-3 rounded margin-half-center">
                <h2 class="text-center">Subscribe Profil Saya</h2>
                {% load crispy_forms_tags %}
                <form novalidate id="subscribe-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn primary disabled"
                        id="submit-subscribe">
                        Submit
                    </button>
                </form>
            </div>
            <div class="secondary p-3 rounded margin-half-center mb-5">
                <h2 class="text-center">Daftar Subscriber</h2>
                <div id="subscriber-list">
                </div>
            </div>
        </div>
    </div>
</div>
<span class="p-2" id="change-theme">
    Change Theme
</span>
<div class="modal fade" id="subscribed-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="subscribed-modal-title">Subscribe Berhasil</h5>
      </div>
      <div class="modal-body">
        Selamat! Anda telah berhasil berlangganan profil saya :)
      </div>
      <div class="modal-footer">
        <a role="button" href="/" class="btn secondary">
            Kembali ke profil
        </a>
      </div>
    </div>
  </div>
</div>

<div id="unsubscribe-modal-wrapper">
</div>
{% endblock %}

{% block script %}
<script src="{% static 'script.js' %}"></script>

<script>
$(document).ready(getSubscriber)

function getSubscriber() {
    $.get('/subscriber-list/', function showSubscriber(response) {
        $('#subscriber-list').empty()
        response.subscriber.forEach(function (email) {
            $("#subscriber-list").append(`
                <div class="p-2">
                    ${email}
                    <button type="button" class="btn btn-sm btn-danger float-right unsubscribe" id="${email}">Unsubscribe</button>
                </div>
            `)
        })
        $(".unsubscribe").click(unsubscribe)
    }, dataType='JSON')
}

function unsubscribe(e) {
    $("#unsubscribe-modal-wrapper").html(`
        <div class="modal fade" id="unsubscribe-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="subscribed-modal-title">Unsubscribe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                <div class="form-group">
                    <label for="unsubscribe-pass" class="col-form-label">Password:</label>
                    <div>
                        <input type="password" class="form-control" id="unsubscribe-pass">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="unsubscribe-button">Unsubscribe</button>
            </div>
            </div>
        </div>
        </div>
    `)

    $("#unsubscribe-button").click(function unsubscribe() {
        var password = $("#unsubscribe-pass").val()
        console.log('masuk')
        $.post('/remove-subscriber/', {
            'email': window.email,
            'password': password,
        }, function(response) {
            if (response['deleted']) {
                getSubscriber()
                $('#unsubscribe-pass').removeClass('is-invalid')
                $('#unsubscribe-pass').addClass('is-valid')
                $('#unsubscribe-pass').after(`<div class="valid-feedback">
                    Unsubscribe berhasil!
                </div>`)
                setTimeout(function() {
                    $("#unsubscribe-modal").modal('hide')
                }, 2000)
            } else {
                $(".invalid-feedback.unsubscribe-pass").remove()
                $('#unsubscribe-pass').addClass('is-invalid')
                $('#unsubscribe-pass').after(`<div class="invalid-feedback unsubscribe-pass">
                    Password salah.
                </div>`)
            }
        })
    })
    $("#unsubscribe-modal").modal()
    window.email = e.target.id
}
</script>
{% endblock %}
